* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #25202d), to(rgba(41, 35, 117, 0.7)));
  background: linear-gradient(180deg, #25202d 30%, rgba(41, 35, 117, 0.7) 100%);
  overflow: hidden;
}

.stars {
  position: relative;
  width: 100%;
}

.stars .star-1 {
  position: absolute;
  top: -10px;
  left: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-1;
          animation: fall-1;
  -webkit-animation-duration: 3.38184s;
          animation-duration: 3.38184s;
  -webkit-animation-delay: 0.44972s;
          animation-delay: 0.44972s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-2 {
  position: absolute;
  top: -10px;
  left: 60px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-2;
          animation: fall-2;
  -webkit-animation-duration: 5.19419s;
          animation-duration: 5.19419s;
  -webkit-animation-delay: 0.18138s;
          animation-delay: 0.18138s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-3 {
  position: absolute;
  top: -10px;
  left: 90px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-3;
          animation: fall-3;
  -webkit-animation-duration: 2.2409s;
          animation-duration: 2.2409s;
  -webkit-animation-delay: 1.54899s;
          animation-delay: 1.54899s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-4 {
  position: absolute;
  top: -10px;
  left: 120px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-4;
          animation: fall-4;
  -webkit-animation-duration: 2.83887s;
          animation-duration: 2.83887s;
  -webkit-animation-delay: 1.38745s;
          animation-delay: 1.38745s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-5 {
  position: absolute;
  top: -10px;
  left: 150px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-5;
          animation: fall-5;
  -webkit-animation-duration: 1.18448s;
          animation-duration: 1.18448s;
  -webkit-animation-delay: 0.26592s;
          animation-delay: 0.26592s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-6 {
  position: absolute;
  top: -10px;
  left: 180px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-6;
          animation: fall-6;
  -webkit-animation-duration: 3.18451s;
          animation-duration: 3.18451s;
  -webkit-animation-delay: 1.32999s;
          animation-delay: 1.32999s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-7 {
  position: absolute;
  top: -10px;
  left: 210px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-7;
          animation: fall-7;
  -webkit-animation-duration: 4.45222s;
          animation-duration: 4.45222s;
  -webkit-animation-delay: 1.74947s;
          animation-delay: 1.74947s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-8 {
  position: absolute;
  top: -10px;
  left: 240px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-8;
          animation: fall-8;
  -webkit-animation-duration: 5.35765s;
          animation-duration: 5.35765s;
  -webkit-animation-delay: 1.49192s;
          animation-delay: 1.49192s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-9 {
  position: absolute;
  top: -10px;
  left: 270px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-9;
          animation: fall-9;
  -webkit-animation-duration: 2.04697s;
          animation-duration: 2.04697s;
  -webkit-animation-delay: 2.73238s;
          animation-delay: 2.73238s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-10 {
  position: absolute;
  top: -10px;
  left: 300px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-10;
          animation: fall-10;
  -webkit-animation-duration: 4.52881s;
          animation-duration: 4.52881s;
  -webkit-animation-delay: 0.65365s;
          animation-delay: 0.65365s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-11 {
  position: absolute;
  top: -10px;
  left: 330px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-11;
          animation: fall-11;
  -webkit-animation-duration: 5.33236s;
          animation-duration: 5.33236s;
  -webkit-animation-delay: 1.51785s;
          animation-delay: 1.51785s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-12 {
  position: absolute;
  top: -10px;
  left: 360px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-12;
          animation: fall-12;
  -webkit-animation-duration: 2.48678s;
          animation-duration: 2.48678s;
  -webkit-animation-delay: 0.44621s;
          animation-delay: 0.44621s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-13 {
  position: absolute;
  top: -10px;
  left: 390px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-13;
          animation: fall-13;
  -webkit-animation-duration: 2.59998s;
          animation-duration: 2.59998s;
  -webkit-animation-delay: 1.28621s;
          animation-delay: 1.28621s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-14 {
  position: absolute;
  top: -10px;
  left: 420px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-14;
          animation: fall-14;
  -webkit-animation-duration: 2.11625s;
          animation-duration: 2.11625s;
  -webkit-animation-delay: 1.96612s;
          animation-delay: 1.96612s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-15 {
  position: absolute;
  top: -10px;
  left: 450px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-15;
          animation: fall-15;
  -webkit-animation-duration: 2.70279s;
          animation-duration: 2.70279s;
  -webkit-animation-delay: 2.26542s;
          animation-delay: 2.26542s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-16 {
  position: absolute;
  top: -10px;
  left: 480px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-16;
          animation: fall-16;
  -webkit-animation-duration: 1.74906s;
          animation-duration: 1.74906s;
  -webkit-animation-delay: 1.78361s;
          animation-delay: 1.78361s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-17 {
  position: absolute;
  top: -10px;
  left: 510px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-17;
          animation: fall-17;
  -webkit-animation-duration: 2.88139s;
          animation-duration: 2.88139s;
  -webkit-animation-delay: 0.07142s;
          animation-delay: 0.07142s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-18 {
  position: absolute;
  top: -10px;
  left: 540px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-18;
          animation: fall-18;
  -webkit-animation-duration: 3.14501s;
          animation-duration: 3.14501s;
  -webkit-animation-delay: 0.59137s;
          animation-delay: 0.59137s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-19 {
  position: absolute;
  top: -10px;
  left: 570px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-19;
          animation: fall-19;
  -webkit-animation-duration: 2.34127s;
          animation-duration: 2.34127s;
  -webkit-animation-delay: 0.83608s;
          animation-delay: 0.83608s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-20 {
  position: absolute;
  top: -10px;
  left: 600px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-20;
          animation: fall-20;
  -webkit-animation-duration: 3.5011s;
          animation-duration: 3.5011s;
  -webkit-animation-delay: 2.07564s;
          animation-delay: 2.07564s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-21 {
  position: absolute;
  top: -10px;
  left: 630px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-21;
          animation: fall-21;
  -webkit-animation-duration: 4.91439s;
          animation-duration: 4.91439s;
  -webkit-animation-delay: 0.18515s;
          animation-delay: 0.18515s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-22 {
  position: absolute;
  top: -10px;
  left: 660px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-22;
          animation: fall-22;
  -webkit-animation-duration: 5.2502s;
          animation-duration: 5.2502s;
  -webkit-animation-delay: 2.59258s;
          animation-delay: 2.59258s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-23 {
  position: absolute;
  top: -10px;
  left: 690px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-23;
          animation: fall-23;
  -webkit-animation-duration: 3.68205s;
          animation-duration: 3.68205s;
  -webkit-animation-delay: 0.61796s;
          animation-delay: 0.61796s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-24 {
  position: absolute;
  top: -10px;
  left: 720px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-24;
          animation: fall-24;
  -webkit-animation-duration: 5.11369s;
          animation-duration: 5.11369s;
  -webkit-animation-delay: 1.37619s;
          animation-delay: 1.37619s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-25 {
  position: absolute;
  top: -10px;
  left: 750px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-25;
          animation: fall-25;
  -webkit-animation-duration: 4.51201s;
          animation-duration: 4.51201s;
  -webkit-animation-delay: 0.14038s;
          animation-delay: 0.14038s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-26 {
  position: absolute;
  top: -10px;
  left: 780px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-26;
          animation: fall-26;
  -webkit-animation-duration: 4.30531s;
          animation-duration: 4.30531s;
  -webkit-animation-delay: 0.5763s;
          animation-delay: 0.5763s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-27 {
  position: absolute;
  top: -10px;
  left: 810px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-27;
          animation: fall-27;
  -webkit-animation-duration: 4.79728s;
          animation-duration: 4.79728s;
  -webkit-animation-delay: 2.1366s;
          animation-delay: 2.1366s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-28 {
  position: absolute;
  top: -10px;
  left: 840px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-28;
          animation: fall-28;
  -webkit-animation-duration: 3.86873s;
          animation-duration: 3.86873s;
  -webkit-animation-delay: 2.69225s;
          animation-delay: 2.69225s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-29 {
  position: absolute;
  top: -10px;
  left: 870px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-29;
          animation: fall-29;
  -webkit-animation-duration: 4.73818s;
          animation-duration: 4.73818s;
  -webkit-animation-delay: 1.95245s;
          animation-delay: 1.95245s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.stars .star-30 {
  position: absolute;
  top: -10px;
  left: 900px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: fall-30;
          animation: fall-30;
  -webkit-animation-duration: 1.49228s;
          animation-duration: 1.49228s;
  -webkit-animation-delay: 1.0065s;
          animation-delay: 1.0065s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fall-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(99.46974px, 1059.14693px);
            transform: translate(99.46974px, 1059.14693px);
  }
}

@keyframes fall-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(99.46974px, 1059.14693px);
            transform: translate(99.46974px, 1059.14693px);
  }
}

@-webkit-keyframes fall-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(410.59388px, 1080.79814px);
            transform: translate(410.59388px, 1080.79814px);
  }
}

@keyframes fall-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(410.59388px, 1080.79814px);
            transform: translate(410.59388px, 1080.79814px);
  }
}

@-webkit-keyframes fall-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(43.53118px, 1036.71864px);
            transform: translate(43.53118px, 1036.71864px);
  }
}

@keyframes fall-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(43.53118px, 1036.71864px);
            transform: translate(43.53118px, 1036.71864px);
  }
}

@-webkit-keyframes fall-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(391.59001px, 1159.36729px);
            transform: translate(391.59001px, 1159.36729px);
  }
}

@keyframes fall-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(391.59001px, 1159.36729px);
            transform: translate(391.59001px, 1159.36729px);
  }
}

@-webkit-keyframes fall-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(183.24608px, 1036.95019px);
            transform: translate(183.24608px, 1036.95019px);
  }
}

@keyframes fall-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(183.24608px, 1036.95019px);
            transform: translate(183.24608px, 1036.95019px);
  }
}

@-webkit-keyframes fall-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(160.78294px, 1179.48633px);
            transform: translate(160.78294px, 1179.48633px);
  }
}

@keyframes fall-6 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(160.78294px, 1179.48633px);
            transform: translate(160.78294px, 1179.48633px);
  }
}

@-webkit-keyframes fall-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(287.94286px, 1160.28725px);
            transform: translate(287.94286px, 1160.28725px);
  }
}

@keyframes fall-7 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(287.94286px, 1160.28725px);
            transform: translate(287.94286px, 1160.28725px);
  }
}

@-webkit-keyframes fall-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(497.6591px, 1103.36057px);
            transform: translate(497.6591px, 1103.36057px);
  }
}

@keyframes fall-8 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(497.6591px, 1103.36057px);
            transform: translate(497.6591px, 1103.36057px);
  }
}

@-webkit-keyframes fall-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(151.15251px, 1195.18836px);
            transform: translate(151.15251px, 1195.18836px);
  }
}

@keyframes fall-9 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(151.15251px, 1195.18836px);
            transform: translate(151.15251px, 1195.18836px);
  }
}

@-webkit-keyframes fall-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(259.3744px, 1122.99828px);
            transform: translate(259.3744px, 1122.99828px);
  }
}

@keyframes fall-10 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(259.3744px, 1122.99828px);
            transform: translate(259.3744px, 1122.99828px);
  }
}

@-webkit-keyframes fall-11 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(182.91509px, 1125.19509px);
            transform: translate(182.91509px, 1125.19509px);
  }
}

@keyframes fall-11 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(182.91509px, 1125.19509px);
            transform: translate(182.91509px, 1125.19509px);
  }
}

@-webkit-keyframes fall-12 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(399.34868px, 1167.62134px);
            transform: translate(399.34868px, 1167.62134px);
  }
}

@keyframes fall-12 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(399.34868px, 1167.62134px);
            transform: translate(399.34868px, 1167.62134px);
  }
}

@-webkit-keyframes fall-13 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(172.84607px, 1044.02127px);
            transform: translate(172.84607px, 1044.02127px);
  }
}

@keyframes fall-13 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(172.84607px, 1044.02127px);
            transform: translate(172.84607px, 1044.02127px);
  }
}

@-webkit-keyframes fall-14 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(86.58112px, 1028.31414px);
            transform: translate(86.58112px, 1028.31414px);
  }
}

@keyframes fall-14 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(86.58112px, 1028.31414px);
            transform: translate(86.58112px, 1028.31414px);
  }
}

@-webkit-keyframes fall-15 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(113.87415px, 1086.01692px);
            transform: translate(113.87415px, 1086.01692px);
  }
}

@keyframes fall-15 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(113.87415px, 1086.01692px);
            transform: translate(113.87415px, 1086.01692px);
  }
}

@-webkit-keyframes fall-16 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(87.3378px, 1150.39761px);
            transform: translate(87.3378px, 1150.39761px);
  }
}

@keyframes fall-16 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(87.3378px, 1150.39761px);
            transform: translate(87.3378px, 1150.39761px);
  }
}

@-webkit-keyframes fall-17 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(107.61819px, 1040.07037px);
            transform: translate(107.61819px, 1040.07037px);
  }
}

@keyframes fall-17 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(107.61819px, 1040.07037px);
            transform: translate(107.61819px, 1040.07037px);
  }
}

@-webkit-keyframes fall-18 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(22.14073px, 1087.61477px);
            transform: translate(22.14073px, 1087.61477px);
  }
}

@keyframes fall-18 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(22.14073px, 1087.61477px);
            transform: translate(22.14073px, 1087.61477px);
  }
}

@-webkit-keyframes fall-19 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(454.32582px, 1087.51022px);
            transform: translate(454.32582px, 1087.51022px);
  }
}

@keyframes fall-19 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(454.32582px, 1087.51022px);
            transform: translate(454.32582px, 1087.51022px);
  }
}

@-webkit-keyframes fall-20 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(275.04531px, 1052.70162px);
            transform: translate(275.04531px, 1052.70162px);
  }
}

@keyframes fall-20 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(275.04531px, 1052.70162px);
            transform: translate(275.04531px, 1052.70162px);
  }
}

@-webkit-keyframes fall-21 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(250.44875px, 1195.91052px);
            transform: translate(250.44875px, 1195.91052px);
  }
}

@keyframes fall-21 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(250.44875px, 1195.91052px);
            transform: translate(250.44875px, 1195.91052px);
  }
}

@-webkit-keyframes fall-22 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(456.30483px, 1084.64406px);
            transform: translate(456.30483px, 1084.64406px);
  }
}

@keyframes fall-22 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(456.30483px, 1084.64406px);
            transform: translate(456.30483px, 1084.64406px);
  }
}

@-webkit-keyframes fall-23 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(331.63936px, 1121.60967px);
            transform: translate(331.63936px, 1121.60967px);
  }
}

@keyframes fall-23 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(331.63936px, 1121.60967px);
            transform: translate(331.63936px, 1121.60967px);
  }
}

@-webkit-keyframes fall-24 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(137.7106px, 1082.69948px);
            transform: translate(137.7106px, 1082.69948px);
  }
}

@keyframes fall-24 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(137.7106px, 1082.69948px);
            transform: translate(137.7106px, 1082.69948px);
  }
}

@-webkit-keyframes fall-25 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(52.39918px, 1077.53818px);
            transform: translate(52.39918px, 1077.53818px);
  }
}

@keyframes fall-25 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(52.39918px, 1077.53818px);
            transform: translate(52.39918px, 1077.53818px);
  }
}

@-webkit-keyframes fall-26 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(355.21554px, 1097.04812px);
            transform: translate(355.21554px, 1097.04812px);
  }
}

@keyframes fall-26 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(355.21554px, 1097.04812px);
            transform: translate(355.21554px, 1097.04812px);
  }
}

@-webkit-keyframes fall-27 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(413.02174px, 1101.23142px);
            transform: translate(413.02174px, 1101.23142px);
  }
}

@keyframes fall-27 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(413.02174px, 1101.23142px);
            transform: translate(413.02174px, 1101.23142px);
  }
}

@-webkit-keyframes fall-28 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24.55089px, 1041.48817px);
            transform: translate(24.55089px, 1041.48817px);
  }
}

@keyframes fall-28 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24.55089px, 1041.48817px);
            transform: translate(24.55089px, 1041.48817px);
  }
}

@-webkit-keyframes fall-29 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(372.68158px, 1169.1287px);
            transform: translate(372.68158px, 1169.1287px);
  }
}

@keyframes fall-29 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(372.68158px, 1169.1287px);
            transform: translate(372.68158px, 1169.1287px);
  }
}

@-webkit-keyframes fall-30 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(448.85366px, 1034.11453px);
            transform: translate(448.85366px, 1034.11453px);
  }
}

@keyframes fall-30 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(448.85366px, 1034.11453px);
            transform: translate(448.85366px, 1034.11453px);
  }
}
/*# sourceMappingURL=all.css.map */